.cover {
  background-image: url("../assets/img/cover.jpg");
}

.udem-logo {
  background-image: url('../assets/img/bu-logo.jpg');
}

.languages-selector {
  position: fixed;
  top: 10px;
  right: 20px;
}
