.cover {
  background-image: url("../assets/img/cover.jpg");
}

.udem-logo {
  background-image: url('../assets/img/bu-logo.jpg');
}

.languages-selector {
  position: absolute;
  top: 20px;
  right: 30px;
}
